@model  KeyValuePair<string, string>
<div class="modal fade" id="@Model.Key" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
			</div>
			<div class="modal-body">
				<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">No</button>
				<button type="submit" class="btn btn-primary btn-sm" name="@Model.Value">Yes</button>
			</div>
		</div>
	</div>
</div>
